body {
  background-image: url("../images/playhouse.jpg");
  background-repeat: no-repeat;
  background-position: left top;    
  background-attachment: fixed;
  margin-top: 10px;
  margin-left: 10px;
  max-width: 1200px;
}

h1, h2{
	font-family: 'Chewy', cursive;
  letter-spacing: 2px;
  text-align: center;
}

h1 {
	font-size: 40px;
	color: #f22473;
  text-shadow: 1px 1px #fcd8cf;
  word-wrap: break-word;
}

h2 {
	font-size: 25px;
	color: #93f2f2;
  text-shadow: 2px 1px #627cdb;
}

h3 {
  font-size: 20px;
}

p {
  margin: 15px 0;
}
/* designed game box to resemble a refrigerator */
#gameBox {
  background-image: url("../images/frigInner.jpg"); 
  background-repeat: no-repeat; 
  background-size: cover;
  border-radius: 50px/15px;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  font-size: 24px;
  border: 5px solid white;
  text-shadow: 2px 2px black;
  color: white;
  width: 350px;
  height: 420px;
  padding: 20px;
  margin-left: 60px;
  float: left;
  position: relative;
  overflow: hidden;
}
/*  display win or lose image only when round completed.  JS module will 
    control it.  Positioned over door porthole. */
#winLoseBox img {
  visibility: hidden;
  clear: both;
  position: fixed;
  left: 620px;
  top: 230px;
  width: 45px;
  height: 45px;
  z-index: 99
}
/*  display win or lose message only when round completed.  JS module will
    control it.  Positioned under door porthole. */
#winLose {
  visibility: hidden;
  position: fixed;
  clear: both;
  left: 580px;
  top: 275px;

}
